
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 100% 99%; /* Very light blue */
    --foreground: 228 12% 20%;
    
    --card: 228 100% 100%;
    --card-foreground: 228 12% 20%;
    
    --popover: 228 100% 100%;
    --popover-foreground: 228 12% 20%;
    
    --primary: 231 60% 56%; /* Muted blue */
    --primary-foreground: 228 100% 99%;
    
    --secondary: 228 60% 95%;
    --secondary-foreground: 228 12% 20%;
    
    --muted: 228 20% 65%;
    --muted-foreground: 228 8% 45%;
    
    --accent: 226 100% 92%; /* Slightly brighter blue */
    --accent-foreground: 231 60% 56%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 228 20% 90%;
    --input: 228 20% 90%;
    --ring: 231 60% 56%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 12% 10%;
    --foreground: 228 100% 99%;

    --card: 228 12% 12%;
    --card-foreground: 228 100% 99%;

    --popover: 228 12% 10%;
    --popover-foreground: 228 100% 99%;

    --primary: 226 100% 92%;
    --primary-foreground: 231 60% 56%;

    --secondary: 228 12% 20%;
    --secondary-foreground: 228 100% 99%;

    --muted: 228 12% 20%;
    --muted-foreground: 228 20% 65%;

    --accent: 228 12% 25%;
    --accent-foreground: 226 100% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 228 12% 25%;
    --input: 228 12% 25%;
    --ring: 226 100% 92%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

    